<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Magento_Customer::customer">
                    <resource id="Tangkoko_CustomerAttributesManagement::attributes" title="Attributes" translate="title" sortOrder="100">
                        <resource id="Tangkoko_CustomerAttributesManagement::customer_attributes" title="Customer Attributes" translate="title" sortOrder="5"/>
                        <resource id="Tangkoko_CustomerAttributesManagement::address_attributes" title="Customer Address Attributes" translate="title" sortOrder="10"/>
                    </resource>
                </resource>
                <resource id="Magento_Backend::stores">
                    <resource id="Magento_Backend::stores_settings">
                        <resource id="Magento_Config::config">
                            <resource id="Tangkoko_Cam::config_cam" title="Tangkoko CAM" translate="title" />
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>