<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~ Copyright © 2019 MVN. All rights reserved.
  ~ See COPYING.txt for license details.
  -->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Tangkoko\CustomerAttributesManagement\Api\Data\ConditionInterface" type="Tangkoko\CustomerAttributesManagement\Model\Data\Condition" />
    <preference for="Tangkoko\CustomerAttributesManagement\Api\Data\CamAttributeInterface" type="Tangkoko\CustomerAttributesManagement\Model\Data\CamAttribute" />
    <preference for="Tangkoko\CustomerAttributesManagement\Api\CamAttributeRepositoryInterface" type="Tangkoko\CustomerAttributesManagement\Model\CamAttribute\Repository" />
    <type name="Magento\Eav\Api\AttributeRepositoryInterface">
        <plugin name="cam_process_extension_attributes" type="Tangkoko\CustomerAttributesManagement\Plugin\Eav\Model\Attribute\RepositoryPlugin"/>
    </type>

    <type name="Tangkoko\CustomerAttributesManagement\Model\Attribute\Source\CustomerForm">
        <arguments>
            <argument name="optionsArray" xsi:type="array">
                <item name="adminhtml_customer" xsi:type="string" translatable="true">Admin Customer</item>
                <item name="adminhtml_checkout" xsi:type="string" translatable="true">Admin Checkout</item>
                <item name="customer_account_create" xsi:type="string" translatable="true">Customer Registration</item>
                <item name="customer_account_edit" xsi:type="string" translatable="true">Customer Account Edit</item>
                <item name="checkout_register" xsi:type="string" translatable="true">Checkout Register</item>
            </argument>
        </arguments>
    </type>

    <type name="Tangkoko\CustomerAttributesManagement\Model\Attribute\Source\AddressForm">
        <arguments>
            <argument name="optionsArray" xsi:type="array">
                <item name="adminhtml_customer_address" xsi:type="string" translatable="true">Admin Customer Address</item>
                <item name="customer_address_edit" xsi:type="string" translatable="true">Customer Account Address</item>
                <item name="customer_register_address" xsi:type="string" translatable="true">Customer Address Registration</item>
            </argument>
        </arguments>
    </type>

    <type name="Tangkoko\CustomerAttributesManagement\Model\Rule\Condition\Combine">
        <arguments>
            <argument name="conditions" xsi:type="array">
                <item name="customer" xsi:type="array">
                    <item name="label" xsi:type="string" translatable="true"></item>
                    <item name="value" xsi:type="object">Tangkoko\CustomerAttributesManagement\Model\Rule\Condition\Customer</item>
                </item>
            </argument>
        </arguments>
    </type>

    <type name="Tangkoko\CustomerAttributesManagement\Model\Rule\Condition\CombineFactory">
         <arguments>
            <argument name="instanceNames" xsi:type="array">
                <item name="1" xsi:type="string">Tangkoko\CustomerAttributesManagement\Model\Rule\Condition\Combine</item>
                <item name="2" xsi:type="string">Tangkoko\CustomerAttributesManagement\Model\Rule\Condition\Address\Combine</item>
            </argument>
        </arguments>
    </type>

    <virtualType name="Tangkoko\CustomerAttributesManagement\Model\Rule\Condition\Address\Combine" type="Tangkoko\CustomerAttributesManagement\Model\Rule\Condition\Combine">
        <arguments>
            <argument name="conditions" xsi:type="array">
                <item name="customer" xsi:type="array">
                    <item name="label" xsi:type="string" translatable="true">Customer attributes</item>
                    <item name="value" xsi:type="object">Tangkoko\CustomerAttributesManagement\Model\Rule\Condition\Customer</item>
                </item>
                <item name="address" xsi:type="array">
                    <item name="label" xsi:type="string" translatable="true">Customer address attributes</item>
                    <item name="value" xsi:type="object">Tangkoko\CustomerAttributesManagement\Model\Rule\Condition\Address</item>
                </item>
            </argument>
        </arguments>
    </virtualType>
</config>