<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~ Copyright © 2019 MVN. All rights reserved.
  ~ See COPYING.txt for license details.
  -->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Tangkoko\CustomerAttributesManagement\Block\Customer\Attributes\SpecialBlockProviderInterface" type="Tangkoko\CustomerAttributesManagement\Block\Customer\Attributes\SpecialBlockProvider"/>
    <type name="Tangkoko\CustomerAttributesManagement\Block\Customer\Attributes\SpecialBlockProvider">
        <arguments>
            <argument name="specialBlocks" xsi:type="array">
                <item name="lastname" xsi:type="string">\Magento\Customer\Block\Widget\Name</item>
                <item name="dob" xsi:type="string">\Magento\Customer\Block\Widget\Dob</item>
                <item name="taxvat" xsi:type="string">\Magento\Customer\Block\Widget\Taxvat</item>
                <item name="gender" xsi:type="string">\Magento\Customer\Block\Widget\Gender</item>
            </argument>
        </arguments>
    </type>

    <type name="Tangkoko\CustomerAttributesManagement\Block\Address\Attributes\SpecialBlockProvider">
        <arguments>
            <argument name="specialBlocks" xsi:type="array">
                <item name="lastname" xsi:type="string">\Magento\Customer\Block\Widget\Name</item>
                <item name="company" xsi:type="string">\Magento\Customer\Block\Widget\Company</item>
                <item name="telephone" xsi:type="string">\Magento\Customer\Block\Widget\Telephone</item>
                <item name="fax" xsi:type="string">\Magento\Customer\Block\Widget\Fax</item>
                <item name="street" xsi:type="string">\Tangkoko\CustomerAttributesManagement\Block\Address\Form\Attributes\Street</item>
                <item name="country_id" xsi:type="string">\Tangkoko\CustomerAttributesManagement\Block\Address\Form\Attributes\Country</item>
                <item name="city" xsi:type="string">Tangkoko\CustomerAttributesManagement\Block\Attributes\Text</item>
                <item name="postcode" xsi:type="string">Tangkoko\CustomerAttributesManagement\Block\Attributes\Text</item>
                <item name="region_id" xsi:type="string">Tangkoko\CustomerAttributesManagement\Block\Address\Form\Attributes\Region</item>
                <item name="vat_id" xsi:type="string">Tangkoko\CustomerAttributesManagement\Block\Attributes\Text</item>
            </argument>
        </arguments>
    </type>

    <type name="Tangkoko\CustomerAttributesManagement\Block\Customer\Form\Register\Attributes">
        <arguments>
            <argument name="metadata" xsi:type="object">Magento\Customer\Api\CustomerMetadataInterface</argument>
        </arguments>
    </type>

     <type name="Tangkoko\CustomerAttributesManagement\Block\Customer\Form\Edit\Attributes">
        <arguments>
            <argument name="metadata" xsi:type="object">Magento\Customer\Api\CustomerMetadataInterface</argument>
        </arguments>
    </type>

    <type name="Tangkoko\CustomerAttributesManagement\Block\Address\Form\Edit\Attributes">
        <arguments>
            <argument name="metadata" xsi:type="object">Magento\Customer\Api\AddressMetadataInterface</argument>
            <argument name="specialBlockProvider" xsi:type="object">Tangkoko\CustomerAttributesManagement\Block\Address\Attributes\SpecialBlockProvider</argument>
        </arguments>
    </type>
    
</config>