<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Tangkoko_CustomerAttributesManagement::attributes"
             title="Attributes"
             module="Tangkoko_CustomerAttributesManagement"
             sortOrder="100"
             parent="Magento_Customer::customer"
             resource="Tangkoko_CustomerAttributesManagement::attributes"/>

        <add id="Tangkoko_CustomerAttributesManagement::customer_attributes"
             title="Customer Attributes"
             module="Tangkoko_CustomerAttributesManagement"
             sortOrder="5"
             parent="Tangkoko_CustomerAttributesManagement::attributes"
             action="cam/customer/index/"
             resource="Tangkoko_CustomerAttributesManagement::customer_attributes"/>

        <add id="Tangkoko_CustomerAttributesManagement::address_attributes"
             title="Customer Address Attributes"
             module="Tangkoko_CustomerAttributesManagement"
             sortOrder="10"
             parent="Tangkoko_CustomerAttributesManagement::attributes"
             action="cam/address/index/"
             resource="Tangkoko_CustomerAttributesManagement::address_attributes"/>

    </menu>
</config>